html { font-size: 16px; }

.empty_field {
  border: 1px solid $color-wrong !important;
}

.container { @include container(1180px); }

header {
  background: url('../images/header_background2.jpg') 0 0 / cover;
  font: normal normal bold normal 1.25rem 'Roboto Condensed';
  height: 525px;
}

.header__contacts {
  background: set-color(0, 0, 0, .5);
  padding: 15px 0;

  h1 {
    color: $color-white;
    float: left;
    font-weight: bold;
  }

  p {
    color: $color-white;
    float: right;
    font-weight: bold;
    margin-left: 25px;

    span {
      font-size: .875rem;
      font-weight: bold;
    }
  }

  img {
    width: 35px;
  }
}

.header__intro {

  > div {
    display: inline-block;
    float: left;
    text-align: center;

    &:first-child {
      margin-left: 90px;
    }

    &:last-child {
      margin: 70px 0 0 100px;
      width: 290px;
    }

    h2 {
      color: $color-yellow;
      font-size: 4.2rem;
      font-weight: bold;
      margin: 70px 0 20px;
      text-shadow: 2px 2px 5px set-color(0, 0, 0, 1);

    }

    input {
      border: 1px solid transparent;
      margin-bottom: 10px;
      padding: 10px;
      width: 95%;

      &::-webkit-input-placeholder {color: $color-black; font-style: italic;}
      &::-moz-placeholder          {color: $color-black; font-style: italic;}
      &:-moz-placeholder           {color: $color-black; font-style: italic;}
      &:-ms-input-placeholder      {color: $color-black; font-style: italic;}
    }

    p {
      color: $color-white;
      font-size: 1.5625rem;
      font-weight: bold;
      margin-bottom: 10px;
      text-shadow: 2px 2px 5px set-color(0, 0, 0, 1);

      &:first-of-type {
        font-size: 1.7rem;
      }

      &:last-of-type {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
      }


      span {
        font-weight: bold;
        text-shadow: 2px 2px 5px set-color(0, 0, 0, 1);
      }
    }

    button {
      background: $color-yellow;
      border: 0;
      border-radius: 25px;
      box-shadow: 2px 2px 10px 0 set-color(0, 0, 0, .7);
      font-size: 1.125rem;
      font-weight: bold;
      margin-top: 20px;
      padding: 10px 15px;
      width: 100%;
    }
  }
}

.situations {
  h2 {
    font-family: 'Roboto';
    font-size: 3.3rem;
    font-weight: bold;
    margin: 60px 0;
    text-align: center;

  }
}

.situations__features {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  img { width: 100%; }

  div {
    margin-bottom: 45px;
    min-width: 170px;
    text-align: center;
    width: 23%;

  }

  p {
    font-family: 'Roboto Condensed';
    font-size: 1.3rem;
  }
}


.big_image {

  img {
    margin: 60px 0;
    width: 100%;
  }
}



.time {
  margin-top: 70px;

  > div {
    &:first-child {
      background: $color-yellow;

      p {
        font: normal normal bold normal 2rem 'Roboto';
        text-align: center;
      }
      padding-bottom: 20px;
    }

  }

  h2 {
    font: normal normal bold normal 3.125rem 'Roboto';
    padding: 10px 0;
    text-align: center;
  }

}

.time__map {
  margin: 50px auto 30px;

  img {
    float: left;
    margin-right: 90px;
    width: 650px;
  }

  p {
    font: normal normal normal normal 1.125rem 'Roboto';
    overflow: hidden;

    &:first-of-type {
      font-size: 1.5rem;
    }
  }

}


.time__explain {
  @include container(850px);
  border: 1px solid transparent;
  text-align: right;


  img {
    -webkit-filter: drop-shadow(0 0 3px set-color(0, 0, 0, .7));
    filter: drop-shadow(0 0 3px set-color(0, 0, 0, .7));
    float: right;
    margin-left: 30px;
    width: 200px;
  }

  p {
    font: normal normal bold normal 1.3125rem 'Roboto Condensed';
    overflow: hidden;

    span {
      font-size: 1.875rem;
      font-weight: bold;
    }

    &:first-of-type {
      margin-top: 40px;
    }
  }
}

.car {
  background: url('../images/BG2.jpg');
  border: 1px solid transparent;
  height: 600px;
  margin-top: 100px;

}

.car__content {

  h2 {
    color: $color-white;
    font: normal normal bold normal 3.7rem 'Roboto';
    margin: 50px 0;
    text-align: center;
  }

  img {
    float: left;
  }

  p {
    color: $color-white;
    font: normal normal bold normal 1.6rem 'Roboto Condensed';
    left: -50px;
    position: relative;
    text-align: center;



    &:last-of-type {
      font-size: 1.3rem;
      font-weight: normal;
    }
  }
}

.work {
  margin: 70px auto;

  h2 {
    font: normal normal bold normal 3.125rem 'Roboto';
    padding: 10px 0;
    text-align: center;
  }
}

.work__aspects {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-top: 50px;

  div {
    text-align: center;
    width: 24%;

    p {
      font: normal normal normal normal 1.3125rem 'Roboto Condensed';
      font-size: 1.125rem;
    }

    img { width: 100%; }

  }
}

.bus {
  @include yellow-header;
}

.bus__content {
  font-family: 'Roboto Condensed';
  margin-top: 50px;

  > div {
    float: left;

    &:first-child {
      text-align: center;
      width: 480px;

      p {
        font-weight: bold;
        font-size: 1.875rem;
        &:last-of-type {font-size: 1.125rem;}
      }

      span {
        font-size: 1.125rem;
        font-weight: bold;
      }
    }
  }
}

.bus__rent {
  text-align: center;
  width: 680px;

  p {
    display: inline-block;
    font-size: 1.875rem;
    font-weight: bold;
    margin-bottom: 50px;
  }
}

.bus__rent__services {
  margin: auto;
  width: 650px;

  div {
    display: inline-block;
    width: 290px;
  }

  p {
    display: inline-block;
    float: left;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 35px 0 0 15px;
  }

  img {
    float: left;
    width: 90px;
  }
}

footer {
  background: url('../images/footer.jpg') 0 0 / cover;

  border-bottom: 1px solid transparent;
  padding-top: 70px;

  > div {
    &:last-child {
      text-align: center;
      margin-top: 25px;
      margin-bottom: 40px;

    }
  }
}

.footer__contacts {
  float: left;
  font-family: 'Roboto Condensed';
  // margin-left: 100px;
  text-align: center;

  p {
    color: $color-white;
    font-size: 1.4375rem;
    font-weight: bold;


    &:nth-child(2) {

      font-size: 1.875rem;
      margin: 20px 0;
    }

    &:last-child {
      font-weight: normal;
      margin-top: 20px;
      img {width: 35px}
    }
  }

  span {
    font-size: 1.125rem;
    font-weight: bold;
  }
}

.footer__form {
  float: right;
  margin-left: 150px;
  width: 250px;

  input {
    border: 1px solid transparent;
    margin-bottom: 10px;
    padding: 10px;
    width: 95%;

    &::-webkit-input-placeholder {color: $color-black; font-style: italic;}
    &::-moz-placeholder          {color: $color-black; font-style: italic;}
    &:-moz-placeholder           {color: $color-black; font-style: italic;}
    &:-ms-input-placeholder      {color: $color-black; font-style: italic;}
  }

  button {
    background: $color-yellow;
    border: 0;
    border-radius: 25px;
    box-shadow: 2px 2px 10px 0 set-color(0, 0, 0, .7);
    font-size: 1.125rem;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px 15px;
    width: 100%;
  }
}

.footer__logo {
  a {
    position: relative;
    top: -25px;
  }
}

#modal {
  color: black;
}
